# Discord Token
# https://discord.com/developers
TOKEN=

# Bot Admins, comma separated Discord IDs, no spaces.
ADMINS=

# File name for the sqlite database
DB_FILE_NAME=db.sqlite

# Node environment (development or production)
NODE_ENV=development
